<div class="page-title">
    建安台账
    <small>台账 & 建安台账</small>
</div>

<div class="row">
    <div class="col-md-12">

        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="fa fa-cogs font-green"></i>
                    <span class="caption-subject font-green bold uppercase">建安台账表</span>
                </div>
                <div class="tools">

                </div>
            </div>
            <div class="portlet-body flip-scroll">
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content">
                        <tr>
                            <th> 项目/种类 </th>
                            <th> 年份 </th>
                            <th class="numeric"> 纳税人编号 </th>
                            <th class="numeric"> 名称 </th>
                            <th class="numeric"> 工程造价 </th>
                            <th class="numeric"> 已拨款 </th>
                            <th class="numeric"> 已缴税款 </th>
                            <th class="numeric"> 第一次申报日期 </th>
                            <th class="numeric"> 是否完成 </th>
                            <th class="numeric"> 税已清票未开 </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> 工程1 </td>
                            <td> 2015 </td>
                            <td class="numeric"> 1 </td>
                            <td class="numeric"> 建工1 </td>
                            <td class="numeric"> 10000 </td>
                            <td class="numeric"> 10000 </td>
                            <td class="numeric"> 2000 </td>
                            <td class="numeric"> 2015-1-1 </td>
                            <td class="numeric"> 是 </td>
                            <td class="numeric"> 否 </td>
                        </tr>
                        <tr>
                            <td> 工程2 </td>
                            <td> 2015 </td>
                            <td class="numeric"> 1 </td>
                            <td class="numeric"> 建工1 </td>
                            <td class="numeric"> 20000 </td>
                            <td class="numeric"> 10000 </td>
                            <td class="numeric"> 2000 </td>
                            <td class="numeric"> 2015-1-1 </td>
                            <td class="numeric"> 是 </td>
                            <td class="numeric"> 否 </td>
                        </tr>
                        <tr>
                            <td> 工程3 </td>
                            <td> 2015 </td>
                            <td class="numeric"> 1 </td>
                            <td class="numeric"> 建工1 </td>
                            <td class="numeric"> 30000 </td>
                            <td class="numeric"> 10000 </td>
                            <td class="numeric"> 2000 </td>
                            <td class="numeric"> 2015-1-1 </td>
                            <td class="numeric"> 是 </td>
                            <td class="numeric"> 否 </td>
                        </tr>
                        <tr>
                            <td> 工程4 </td>
                            <td> 2015 </td>
                            <td class="numeric"> 2 </td>
                            <td class="numeric"> 建工2 </td>
                            <td class="numeric"> 10000 </td>
                            <td class="numeric"> 10000 </td>
                            <td class="numeric"> 2000 </td>
                            <td class="numeric"> 2015-1-1 </td>
                            <td class="numeric"> 是 </td>
                            <td class="numeric"> 否 </td>
                        </tr>
                        <tr>
                            <td> 工程5 </td>
                            <td> 2015 </td>
                            <td class="numeric"> 2 </td>
                            <td class="numeric"> 建工2 </td>
                            <td class="numeric"> 20000 </td>
                            <td class="numeric"> 10000 </td>
                            <td class="numeric"> 2000 </td>
                            <td class="numeric"> 2015-1-1 </td>
                            <td class="numeric"> 是 </td>
                            <td class="numeric"> 否 </td>
                        </tr>
                        <tr>
                            <td> 工程6 </td>
                            <td> 2015 </td>
                            <td class="numeric"> 2 </td>
                            <td class="numeric"> 建工2 </td>
                            <td class="numeric"> 30000 </td>
                            <td class="numeric"> 10000 </td>
                            <td class="numeric"> 2000 </td>
                            <td class="numeric"> 2015-1-1 </td>
                            <td class="numeric"> 是 </td>
                            <td class="numeric"> 否 </td>
                        </tr>
                        <tr>
                            <td> 工程7 </td>
                            <td> 2015 </td>
                            <td class="numeric"> 2 </td>
                            <td class="numeric"> 建工2 </td>
                            <td class="numeric"> 40000 </td>
                            <td class="numeric"> 10000 </td>
                            <td class="numeric"> 2000 </td>
                            <td class="numeric"> 2015-1-1 </td>
                            <td class="numeric"> 是 </td>
                            <td class="numeric"> 否 </td>
                        </tr>
                        <tr>
                            <td> 工程8 </td>
                            <td> 2015 </td>
                            <td class="numeric"> 2 </td>
                            <td class="numeric"> 建工2 </td>
                            <td class="numeric"> 50000 </td>
                            <td class="numeric"> 10000 </td>
                            <td class="numeric"> 2000 </td>
                            <td class="numeric"> 2015-1-1 </td>
                            <td class="numeric"> 是 </td>
                            <td class="numeric"> 否 </td>
                        </tr>
                        <tr>
                            <td> 工程9 </td>
                            <td> 2015 </td>
                            <td class="numeric"> 3 </td>
                            <td class="numeric"> 建工3 </td>
                            <td class="numeric"> 10000 </td>
                            <td class="numeric"> 10000 </td>
                            <td class="numeric"> 2000 </td>
                            <td class="numeric"> 2015-1-1 </td>
                            <td class="numeric"> 是 </td>
                            <td class="numeric"> 否 </td>
                        </tr>
                        <tr>
                            <td> 工程10 </td>
                            <td> 2015 </td>
                            <td class="numeric"> 3 </td>
                            <td class="numeric"> 建工3 </td>
                            <td class="numeric"> 20000 </td>
                            <td class="numeric"> 10000 </td>
                            <td class="numeric"> 2000 </td>
                            <td class="numeric"> 2015-1-1 </td>
                            <td class="numeric"> 是 </td>
                            <td class="numeric"> 否 </td>
                        </tr>
                        <tr>
                            <td> 工程11 </td>
                            <td> 2015 </td>
                            <td class="numeric"> 3 </td>
                            <td class="numeric"> 建工3 </td>
                            <td class="numeric"> 30000 </td>
                            <td class="numeric"> 10000 </td>
                            <td class="numeric"> 2000 </td>
                            <td class="numeric"> 2015-1-1 </td>
                            <td class="numeric"> 是 </td>
                            <td class="numeric"> 否 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>